git-test/src/main/app/git-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <file:connector name="File" autoDelete="true" streaming="false" validateConnections="true" doc:name="File"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="git-testFlow1" doc:name="git-testFlow1">
        <file:inbound-endpoint path="/UMG/ES/INBOUND" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <logger message="We have received file" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/UMG/ES/OUTBOUND" outputPattern="#[function:uuid].txt" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <logger message="Writing output file is completed" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="git-testFlow2" doc:name="git-testFlow2">
        <jms:inbound-endpoint queue="test" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="Received" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/UMG/ES/OUTBOUND" responseTimeout="10000" doc:name="File"/>
        <logger message="After file outbound" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="git-testFlow3" doc:name="git-testFlow3">
        <jms:inbound-endpoint queue="test1" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger level="INFO" doc:name="Logger"/>
        <logger message="added another logger" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="test2" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="git-testFlow4" doc:name="git-testFlow4">
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
