git-test/src/main/app/git-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <file:connector name="File" autoDelete="true" streaming="false" validateConnections="true" doc:name="File"/>
    <flow name="git-testFlow1" doc:name="git-testFlow1">
        <file:inbound-endpoint path="/UMG/ES/INBOUND" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <logger message="We have received file" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/UMG/ES/OUTBOUND" outputPattern="#[function:uuid].txt" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <logger message="Logger added after file outbound endpoint" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
